<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>Home</title>
</head>

<body>
  <div id="header">
    <h2>CompHub Services</h2>
  </div>
  <%- include('../partials/navlinks'); -%>


    <div class="container">
      <div>
        <img src="../images/FAQS.jpg" alt="TechSupport" class="center">
      </div>

      <div>
        <p id="questions">1. How To Insert Flash Drive in One Go?</p>
        <p id="answers">Answer: Always Look the Flashdrive Icon and face it Upward then Viola! Inserted in One Go!</p>
        <br>
        <p id="questions">1. What Time Will My Package Arrive?</p>
        <p id="answers">Answer: 1 or 2 Days after the Order</p>
      </div>
    </div>


</body>

</html>